<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <springProfile name="default">
        <include resource="org/springframework/boot/logging/logback/base.xml"/>
    </springProfile>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %highlight(%-5level) %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="CUSTOM_FILE" class="ch.qos.logback.core.FileAppender">
        <file>logs/logs.log</file>
        <append>true</append>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS}  %-5level - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="hr.kingict.sparavec.zadatak.controller.ProductController" level="info" additivity="false">
        <appender-ref ref="CUSTOM_FILE"/>
    </logger>

    <root level="info">
        <appender-ref ref="CONSOLE"/>
    </root>

</configuration>
